#div1{


  border: 3px dotted red;
  width: 20%;
  margin: 25px;
  background: #FFF;

}
#div3,#div2{
  margin: auto;
  margin-bottom: 3px;
  margin-top: 3px;
  width: 95%;
border: 1px solid #000;

}
img{
  width: 95%;
}
div{
border: 1px solid #000;
border-radius: 10px;
}
h1,h2{
  background-color: black;
  color: white;
}
*{
  text-align: center;
 /* align-content: */
}
.main{
  display:  flex;
  justify-content:   space-around;
}
/* #div1{
  margin:auto;

} */
